//fonts
$Cochin: "Cochin", sans-serif;
$Montserrat: "Montserrat", sans-serif;

//colors
$black: #2d2d2d;
$lightGrey: #e4e4e4;
$grey: #494949;
$grey2: #9d9d9d;
$mustard: #ebc138;
$success: #49b356;
$green: #39b54a;
$orange: #ff4f0f;
