* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif, serif;
  color: $black;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}
h1 {
  font-size: 86px;
  font-weight: 700;
  line-height: 86px;
}
h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 81.5px;
}
h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 55.8px;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
