.main-section {
  padding-top: 65px;
  &-container {
    display: flex;

    .right {
      width: 57%;
      position: relative;
      background-image: url("/assets/images/main-img-bg.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: -70px;
    }
    .left {
      width: 43%;
      h1 {
        font-weight: 500;
        white-space: nowrap;
        margin-bottom: 26px;
        span {
          font-weight: 700;
          display: block;
          white-space: normal;
        }
      }
      p {
        @include fontSize(22px, 400, 33px, $black);
        margin-bottom: 80px;
      }
      .button-group {
        display: flex;
        margin-bottom: 90px;
        button {
          border-radius: 10px;
          width: 228px;
          height: 62px;
          @include fontSize(18px, 400, 22px, white);
          letter-spacing: 1.6px;
          &:first-child {
            background-color: $orange;
            border: 1.5px solid $orange;
            &:hover {
              border: 1px solid $black;
              color: $black;
              background-color: transparent;
            }
          }
          &:last-child {
            border: 1.5px solid $black;
            background-color: #fffdfd;
            color: $black;
            margin-left: 37px;
            &:hover {
              border: 1px solid $orange;
              color: white;
              background-color: $orange;
            }
          }
        }
      }
    }
  }
}

.about {
  background-color: $black;
  padding: 112px 0;
  &-container {
    display: flex;
    .left {
      width: 55%;
      p {
        @include fontSize(24px, 400, 38px, white);
      }
    }
    .right {
      width: 45%;
      h2 {
        color: white;
        margin-left: 58px;
      }
    }
  }
}

.advantage {
  padding-top: 160px;
  &-header {
    margin-bottom: 64px;
    text-align: center;
    span {
      letter-spacing: 5px;
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(289px, 1fr));
    .card {
      .card-img {
        position: relative;
        width: 229px;
        height: 229px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        img {
          position: static !important;
          width: initial !important;
          height: initial !important;
        }
      }
      .card-text {
        text-align: center;
        padding: 0 20px;
        p {
          color: $grey;
          margin-top: 16px;
        }
      }
    }
  }
}

.members {
  background-color: #e4e4e4;
  padding: 160px 0;
  h2 {
    text-align: center;
    line-height: 86px;
    margin-bottom: 66px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(415px, 1fr));
    gap: 27px;
    .card {
      background-color: white;
      @include flexBox(center, center);
      flex-direction: column;
      padding-top: 64px;
      padding-left: 64px;
      padding-right: 64px;
      padding-bottom: 42px;
      box-shadow: 0px 17px 26px -9px rgba(0, 0, 0, 0.15);
      h5 {
        margin-top: 40px;
        margin-bottom: 2px;
        text-transform: uppercase;
      }
      h6 {
        text-align: center;
        color: #494949;
        font-weight: 400;
        margin-bottom: 32px;
      }
      p {
        font-weight: 500;
        text-align: center;
        margin-bottom: 32px;
      }
      .social-icons {
        a {
          &:nth-child(2) {
            margin: 0 38px;
          }
        }
      }
    }
  }
}

.subscribe {
  padding: 120px 0;
  h3 {
    text-align: center;
    margin-bottom: 2px;
  }
  span {
    display: block;
    @include fontSize(14px, 500, 28px, #494949);
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
  }
  form {
    margin-top: 67px;
    @include flexBox(center, center);
    input {
      background: #ffffff;
      border: 1px solid $black;
      border-radius: 5px;
      height: 50px;
      width: 700px;
      padding: 10px 24px;
      @include fontSize(20px, 400, 30px, black);
    }
    ::placeholder {
      @include fontSize(20px, 400, 30px, #9d9d9d);
    }
    button {
      padding: 12px 38px;
      background-color: $orange;
      @include fontSize(18px, 500, 27px, white);
      letter-spacing: 1.6px;
      border-radius: 5px;
      margin-left: 24px;
      &:hover {
        border: 1px solid $black;
        color: $black;
        background-color: transparent;
      }
    }
  }
}

.works {
  padding-top: 160px;
  padding-bottom: 160px;
  &-container {
    h2 {
      text-align: center;
      margin-bottom: 52px;
    }
    .content {
      &-header {
        @include flexBox(center, center);
        .left,
        .right {
          display: flex;
          flex-direction: column;
          h4 {
            @include fontSize(40px, 700, 60px, $mustard);
          }
          p {
            @include fontSize(22px, 400, 33px, #3e3e3e);
          }
        }
        .left {
          margin-right: 108px;
          align-items: flex-end;
        }
        .right {
          margin-left: 108px;
          align-items: flex-start;
        }
      }
      &-list {
        @include flexBox(space-between, normal);
        margin-top: 45px;
        .center {
          ul {
            @include flexBox(normal, center);
            flex-direction: column;
            padding: 0 57px;
            border-left: 4px dotted $grey2;
            border-right: 4px dotted $grey2;
            li {
              position: relative;
              @include fontSize(100px, 700, 122px, black);
              &:first-child {
                margin-bottom: 48px;
                .circle {
                  top: 0;
                  &:first-child {
                    left: -94px;
                  }
                  &:last-child {
                    right: -94px;
                  }
                }
                .number {
                  margin-top: -40px;
                }
              }
              &:nth-child(2) {
                margin-bottom: 57px;
                .circle {
                  top: 50%;
                  transform: translateY(-50%);
                  &:first-child {
                    left: -84px;
                  }
                  &:last-child {
                    right: -84px;
                  }
                }
              }
              &:nth-child(3) {
                margin-bottom: 37px;
                .circle {
                  top: 50%;
                  transform: translateY(-50%);
                  &:first-child {
                    left: -84px;
                  }
                  &:last-child {
                    right: -84px;
                  }
                }
              }
              &:last-child {
                .circle {
                  bottom: 0;
                  &:first-child {
                    left: -80px;
                  }
                  &:last-child {
                    right: -80px;
                  }
                }
                .number {
                  position: relative;
                  top: 30px;
                }
              }
              .circle {
                width: 40px;
                height: 40px;
                background: #eeeeee;
                border-radius: 50%;
                padding: 8px;
                position: absolute;

                .into-circle {
                  width: 24px;
                  height: 24px;
                  background-color: $mustard;
                  border-radius: 50%;
                }
              }
            }
          }
        }
        .left,
        .right {
          display: flex;
          flex-direction: column;
        }
        .left {
          padding-right: 83px;
          align-items: flex-end;
          p {
            text-align: right;
          }
        }
        .right {
          padding-left: 83px;
          align-items: flex-start;
        }
        p {
          @include fontSize(22px, 400, 33px, #494949);
          span {
            @include fontSize(22px, 600, 33px, #494949);
          }
          &:first-child {
            margin-bottom: 107px;
            width: 90%;
          }
          &:nth-child(2) {
            margin-bottom: 73px;
          }
          &:nth-child(3) {
            margin-bottom: 57px;
          }
          &:last-child {
            width: 95%;
          }
          .success {
            color: $success;
          }
        }
      }
    }
  }
}
