.main-section {
  padding-top: 65px;
  &-container {
    display: flex;

    .right {
      width: 57%;
      position: relative;
      background-image: url("/assets/images/main-img-bg.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: -70px;
    }
    .left {
      width: 43%;
      h1 {
        font-weight: 500;
        white-space: nowrap;
        margin-bottom: 26px;
        span {
          font-weight: 700;
          font-family: $Cochin;
          display: block;
          white-space: normal;
        }
      }
      p {
        @include fontSize(22px, 400, 33px, $black);
        margin-bottom: 80px;
      }
      .button-group {
        display: flex;
        margin-bottom: 90px;
        button {
          border-radius: 10px;
          width: 228px;
          height: 62px;
          @include fontSize(18px, 400, 22px, white);
          letter-spacing: 1.6px;
          &:first-child {
            background-color: $black;
            border: 1.5px solid $black;
          }
          &:last-child {
            border: 1.5px solid $black;
            background-color: #fffdfd;
            color: $black;
            margin-left: 37px;
          }
        }
      }
    }
  }
}
